<script
  type="text/javascript"
  data-cfasync="false"
  src="{{
    '/assets/js/jquery.min.js' | prepend: site.baseurl | prepend: site.url
  }}"
></script>

<script
  type="text/javascript"
  data-cfasync="false"
  src="{{
    '/assets/js/modernizr-2.6.2.min.js'
      | prepend: site.baseurl
      | prepend: site.url
  }}"
></script>

<script
  type="text/javascript"
  data-cfasync="false"
  src="{{
    '/assets/js/jquery.easing.1.3.min.js' | prepend: site.baseurl | prepend: site.url
  }}"
></script>

<script
  type="text/javascript"
  data-cfasync="false"
  src="{{
    '/assets/js/bootstrap.min.js'
      | prepend: site.baseurl
      | prepend: site.url
  }}"
></script>

<script
  type="text/javascript"
  data-cfasync="false"
  src="{{
    '/assets/js/jquery.waypoints.min.js' | prepend: site.baseurl | prepend: site.url
  }}"
></script>

<script
  type="text/javascript"
  data-cfasync="false"
  src="{{
    '/assets/js/jquery.magnific-popup.min.js' | prepend: site.baseurl | prepend: site.url
  }}"
></script>

<script
  type="text/javascript"
  data-cfasync="false"
  src="{{
    '/assets/js/jquery.flexslider.min.js'
      | prepend: site.baseurl
      | prepend: site.url
  }}"
></script>

<script
  type="text/javascript"
  data-cfasync="false"
  src="{{
    '/assets/js/sticky-kit.min.js' | prepend: site.baseurl | prepend: site.url
  }}"
></script>

<script
  type="text/javascript"
  data-cfasync="false"
  src="{{
    '/assets/js/main.min.js' | prepend: site.baseurl | prepend: site.url
  }}"
></script>

<script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function () {
      document.body.className = document.body.className.replace(
        /\bis-preload\b/,
        ''
      );
    });

    window.addEventListener('resize', function (event) {
      if (localStorage.getItem('shown') !== 'true') {
        const blog = document.getElementById('blog');
        const footer = document.getElementById('footer');
        const shareButtons = document.getElementById('shr-bttns');
        const sticky = document.getElementById('sticky');

        if (!!shareButtons && window.innerWidth < 768) {
          shareButtons.style.bottom = `${sticky.offsetHeight + 50}px`;
        }

        if (!!footer) {
          footer.style.paddingBottom = `${sticky.offsetHeight + 120}px`;
        } else {
          blog.style.paddingBottom = `${sticky.offsetHeight + 60}px`;
        }
      }
    });

    document.body.className += navigator.userAgent.match(/(MSIE|rv:11\.0)/)
      ? ' is-ie'
      : '';

    if (localStorage.getItem('shown') !== 'true') {
      document.getElementById('sticky').style.display = 'flex';

      const blog = document.getElementById('blog');
      const footer = document.getElementById('footer');
      const shareButtons = document.getElementById('shr-bttns');
      const sticky = document.getElementById('sticky');
      const close = document.getElementById('close-sticky');

      if (!!shareButtons && window.innerWidth < 768) {
        shareButtons.style.bottom = `${sticky.offsetHeight + 50}px`;
      }

      if (!!footer) {
        footer.style.paddingBottom = `${sticky.offsetHeight + 120}px`;
      } else {
        blog.style.paddingBottom = `${sticky.offsetHeight + 60}px`;
      }

      close.onclick = () => {
        localStorage.setItem('shown', 'true');

        if (sticky.style.display !== 'none') {
          sticky.style.display = 'none';

          if (!!shareButtons) {
            shareButtons.style.bottom = '100px';
          }

          if (!!footer) {
            footer.style.paddingBottom = '120px';
          } else {
            blog.style.paddingBottom = '60px';
          }
        }
      };
    }
  }
</script>

{% if site.development == false %} {% if site.google.analytics %}
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ site.google.analytics }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', '{{ site.google.analytics }}');
</script>
{% endif %} {% endif %}
