{% assign active = page.url | downcase | split: '/' %}

<aside id="aside">
  <a id="logo" href="{{ site.baseurl }}">
    <img
      class="logo"
      src="{{ '/assets/img/logo.png' | prepend: site.baseurl | prepend: site.url }}"
    />
  </a>

  <div style="display: flex; justify-content: center">
    <p class="logo-description">{{ site.description }}</p>
  </div>

  <nav id="main-menu">
    <ul>
      <li class="{% if active[1] == null %}active{% endif %}">
        <a href="{{ site.url }}">Início</a>
      </li>

      <li class="{% if active[1] == 'blog' %}active{% endif %}">
        <a
          href="{{
            '/blog' | prepend: site.baseurl | prepend: site.url
          }}"
        >
          Blog
        </a>
      </li>

      <li class="{% if active[1] == 'anuncios' %}active{% endif %}">
        <a
          href="{{
            '/anuncios' | prepend: site.baseurl | prepend: site.url
          }}"
        >
          Anúncios
        </a>
      </li>

      <li class="{% if active[1] == 'programar-em-python' %}active{% endif %}">
        <a
          href="{{
            '/programar-em-python' | prepend: site.baseurl | prepend: site.url
          }}"
        >
          Programar em Python
        </a>
      </li>
      <li class="{% if active[1] == 'programar-em-csharp' %}active{% endif %}">
        <a
          href="{{
            '/programar-em-csharp' | prepend: site.baseurl | prepend: site.url
          }}"
          >Programar em C#</a
        >
      </li>
    </ul>
  </nav>

  <div class="footer">
    <ul>
      <li>
        <a href="{{ site.author.website }}" target="_blank">
          <i class="fas fa-user font-14 px gray-icon"></i>
        </a>
      </li>

      <li>
        <a
          href="https://www.youtube.com/c/{{ site.organization.youtube_name }}"
          target="_blank"
        >
          <i class="fab fa-youtube font-14px gray-icon"></i>
        </a>
      </li>

      <li>
        <a
          href="https://www.twitch.tv/{{ site.organization.twitch }}"
          target="_blank"
        >
          <i class="fab fa-twitch font-14px gray-icon"></i>
        </a>
      </li>

      <li>
        <a
          href="https://github.com/{{ site.organization.github }}"
          target="_blank"
        >
          <i class="fab fa-github font-14px gray-icon"></i>
        </a>
      </li>

      <li>
        <a
          href="https://www.linkedin.com/company/{{ site.organization.linkedin }}"
          target="_blank"
        >
          <i class="fab fa-linkedin-in font-14px gray-icon"></i>
        </a>
      </li>

      <li>
        <a
          href="https://www.instagram.com/{{ site.organization.instagram }}"
          target="_blank"
        >
          <i class="fab fa-instagram font-14px gray-icon"></i>
        </a>
      </li>

      <li>
        <a
          href="https://facebook.com/{{ site.organization.facebook }}"
          target="_blank"
        >
          <i class="fab fa-facebook font-14px gray-icon"></i>
        </a>
      </li>

      <li>
        <a href="mailto:{{ site.organization.email }}">
          <i class="far fa-envelope font-14px gray-icon"></i>
        </a>
      </li>
    </ul>

    <p>
      <small>
        {{ site.organization.name }} &copy; {{ site.time | date: '%Y' }} Todos
        os Direitos Reservados
      </small>
    </p>
  </div>
</aside>
