---
layout: default
title: Programar em Go
description: Visualiza todos os vídeos referentes à série de nome &quot;Programar em Go&quot;. Aprende a desenvolver nesta linguagem de programação de forma totalmente gratuita.
keywords: programar em go, programar, go
---

<div id="main">
  <div id="blog" class="blog" style="padding-bottom: 60px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <span class="heading-meta">Visualizar</span>
          <h1 class="heading">Programar em Go</h1>
        </div>
      </div>

      <div class="row">
        {% for video in site.go %} {% assign month = video.date | date: "%-m" %}
        {% capture months %} {% case month %} {% when '1' %}Janeiro{% when '2'
        %}Fevereiro{% when '3' %}Março{% when '4' %}Abril{% when '5' %}Maio{%
        when '6' %}Junho{% when '7' %}Julho{% when '8' %}Agosto{% when '9'
        %}Setembro{% when '10' %}Outubro{% when '11' %}Novembro{% when '12'
        %}Dezembro{% endcase %}{% endcapture %}
        <div
          class="col-xs-12 col-sm-3 col-sm-6 col-lg-6 col-xl-3 animate-box"
          data-animate-effect="fadeInLeft"
        >
          <a
            href="https://www.youtube.com/embed/{{ video.custom_id }}"
            class="lightbox mfp-iframe"
            title="{{ video.title }}"
            url="https://www.youtube.com/watch?v={{ video.custom_id }}"
            class="desc"
          >
            <div class="project">
              <picture>
                <source
                  srcset="{{ '/assets/img/playlists/go' | append: '/' | append: forloop.index | prepend: site.baseurl | prepend: site.url }}.webp"
                  type="image/webp"
                />

                <img
                  src="{{ '/assets/img/playlists/go' | append: '/' | append: forloop.index | prepend: site.baseurl | prepend: site.url }}.png"
                  class="img-fluid"
                  alt="{{ video.title }}"
                  width="448"
                  height="252"
                />
              </picture>

              <div
                class="desc"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <div class="con">
                  <i
                    class="fab fa-youtube"
                    style="font-size: 50px; color: #ffc900"
                  ></i>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %} {% if paginator.previous_page or paginator.next_page %} {%
        include pagination.html %} {% endif %}
      </div>
    </div>
  </div>

  <div id="sticky">
    <img src="https://codesample.io/images/Logo-Transparent.png" class="logo" />

    <div class="content">
      <div class="primary">
        <p class="title">Code Sample</p>
        <p class="subtitle">
          Um lugar para <span class="teal">encontrar</span> snippets de código,
          <span class="teal">compartilhar</span> e
          <span class="teal">melhorar</span> as suas
          <span class="rose">habilidades de programação.</span>
        </p>
      </div>

      <a class="action" href="https://codesample.io/" target="_blank">
        Inscrever-me
      </a>
    </div>

    <a id="close-sticky" class="close">
      <i
        class="fas fa-times-circle"
        style="font-size: 20px; color: #f43f5e"
      ></i>
    </a>
  </div>
</div>
