<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div id="toggle" class="toggle">
      <div class="moon"></div>
    </div>

    <script>
      let theme = localStorage.getItem('theme') || 'light';
      document.body.className = theme;
    </script>

    {% if site.development == false %} {% if site.google.analytics %}
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id={{ site.google.tag_manager }}"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      >
      </iframe>
    </noscript>
    {% endif %} {% endif %} {% if page.id != "links" %}
    <div id="page">
      <a href="#" class="js-nav-toggle nav-toggle" aria-label="Menu"><i></i></a>
      {% include sidebar.html %} {{ content }}
    </div>
    {% else %} {{ content }} {% endif %} {% include scripts.html %}
  </body>
</html>
