---
layout: default
---

<div id="main">
  <div class="blog">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <span class="heading-meta">Blog</span>
          <h1 class="post-heading">{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 entry-byline">
          {% assign month = page.date | date: "%-m" %} {% capture months %} {%
          case month %} {% when '1' %}Janeiro{% when '2' %}Fevereiro{% when '3'
          %}Março{% when '4' %}Abril{% when '5' %}Maio{% when '6' %}Junho{% when
          '7' %}Julho{% when '8' %}Agosto{% when '9' %}Setembro{% when '10'
          %}Outubro{% when '11' %}Novembro{% when '12' %}Dezembro{% endcase %}{%
          endcapture %}
          <i class="fas fa-user"></i>
          <span class="entry-author right-border">
            <a href="#" rel="author">
              <span>{{ site.author.name }}</span>
            </a>
          </span>

          <i class="far fa-clock"></i>
          <time
            datetime="{{ page.date | date: '%-d' }} {{ months }}, {{
              page.date | date: '%Y'
            }}"
            class="entry-published right-border"
          >
            {{ page.date | date: '%-d' }} {{ months }}, {{ page.date | date:
            '%Y' }}
          </time>

          <i class="fas fa-tags"></i>
          <span class="comments-link">
            {% for category in page.categories %}
            <a
              href="{{ '/' | prepend: site.baseurl | prepend: site.url }}categorias/#{{ category }}"
              >{{ category }}</a
            >
            {% endfor %}</span
          >
        </div>

        {% include share.html %}
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-8 content">
          <p>{{ content }}</p>

          <div class="post-pagination">
            {% if page.previous.url %}
            <a href="{{ page.previous.url }}" class="button btn-send">
              Anterior
            </a>
            {% endif %} {% if page.next.url %}
            <a href="{{ page.next.url }}" class="button btn-send">Seguinte</a>
            {% endif %}
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-12 col-lg-4">
          <div class="sidebar-part">
            <div class="sidebar-block sidebar-block-search"></div>

            <div class="sidebar-block sidebar-block-categories">
              <div class="sidebar-block-title">Categorias</div>
              <div class="sidebar-block-content">
                <ul class="ul1">
                  {% for category in site.categories limit:10 %} {% capture
                  category_name %}{{ category | first }}{% endcapture %}
                  <li class="cat-item">
                    <a
                      href="{{ '/' | prepend: site.baseurl | prepend: site.url }}categorias/#{{ category_name }}"
                    >
                      <i class="ti-minus"></i> {{ category_name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="sidebar-block sidebar-block-latest-posts">
              <div class="sidebar-block-title">Últimas Publicações</div>
              <div class="sidebar-block-content">
                {% for post in site.posts limit:3 %} {% assign month = post.date
                | date: "%-m" %} {% capture months %} {% case month %} {% when
                '1' %}Janeiro{% when '2' %}Fevereiro{% when '3' %}Março{% when
                '4' %}Abril{% when '5' %}Maio{% when '6' %}Junho{% when '7'
                %}Julho{% when '8' %}Agosto{% when '9' %}Setembro{% when '10'
                %}Outubro{% when '11' %}Novembro{% when '12' %}Dezembro{%
                endcase %}{% endcapture %}
                <div class="latest">
                  <a
                    href="{{ '/' | prepend: site.baseurl | prepend: site.url }}{{ post.url | remove_first: '/' }}"
                    class="clearfix"
                  >
                    <div class="txt1">{{ post.title }}</div>
                    <div class="txt2">
                      {{ post.date | date: '%-d' }} {{ months }}, {{ post.date |
                      date: '%Y' }}
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12"></div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="narrow-content">
      <div class="row">
        <div class="col-md-4" style="align-self: center">
          <p class="lead">
            {{ site.organization.name }} &copy; {{ site.time | date: '%Y' }}
            Todos os Direitos Reservados
          </p>
        </div>

        <div class="col-md-4"></div>

        <div class="col-md-4" style="align-self: center; margin-bottom: -10px">
          <ul class="social-network">
            <li>
              <a href="{{ site.author.website }}" target="_blank">
                <i class="fas fa-user font-14px gray-icon"></i>
              </a>
            </li>

            <li>
              <a
                href="https://www.youtube.com/c/{{ site.organization.youtube_name }}"
                target="_blank"
              >
                <i class="fab fa-youtube font-14px gray-icon"></i>
              </a>
            </li>

            <li>
              <a
                href="https://www.twitch.tv/{{ site.organization.twitch }}"
                target="_blank"
              >
                <i class="fab fa-twitch font-14px gray-icon"></i>
              </a>
            </li>

            <li>
              <a
                href="https://github.com/{{ site.organization.github }}"
                target="_blank"
              >
                <i class="fab fa-github font-14px gray-icon"></i>
              </a>
            </li>

            <li>
              <a
                href="https://www.linkedin.com/company/{{ site.organization.linkedin }}"
                target="_blank"
              >
                <i class="fab fa-linkedin-in font-14px gray-icon"></i>
              </a>
            </li>

            <li>
              <a
                href="https://www.instagram.com/{{ site.organization.instagram }}"
                target="_blank"
              >
                <i class="fab fa-instagram font-14px gray-icon"></i>
              </a>
            </li>

            <li>
              <a
                href="https://facebook.com/{{ site.organization.facebook }}"
                target="_blank"
              >
                <i class="fab fa-facebook font-14px gray-icon"></i>
              </a>
            </li>

            <li>
              <a href="mailto:{{ site.organization.email }}">
                <i class="far fa-envelope font-14px gray-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
